//? ████████████████████████████████████  GET FONT

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

//? ████████████████████████████████████  COLORS

$grey400: rgb(170, 170, 170);
$grey800: rgb(33, 33, 33);

//? ████████████████████████████████████  RESET

* {

    box-sizing: border-box;
    border: none;
    margin: 0 auto;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;

}

//>  ████████████████████████████████████  AFFECTS SECTION PRODUCT
:root {
    --minimum-width: 360px;
    --minimum-width2: 360px;
    --ratio: 47/59;
    --ratio2: 47/30;
}


body::-webkit-scrollbar {
    display: none;
}

img {
    display: block;
}

.wrapper {

    max-width: 760px;
    margin-inline: auto;
}